.Range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}
.Range .DayPicker-Day {
    border-radius: 0 !important;
}

.date-picker-container {
    margin: 20px auto;
    width: 530px
}

.date-picker-container__selected-date {
    text-align: center;
}
