.comments{
  list-style:none;
  padding:0;
  margin-left:20px;
  margin-bottom: 40px;
}
.comments__title{
  margin-top: 30px;
}
.comment-elem{
  margin:10px 0;
}
.comment-elem + .comment-elem{
  border-top:1px solid rgba(0, 0, 0, .4);
}
.comment-elem__author{
  font-style: italic;
}
.comments__button{
  margin-top: 20px;
}
.hidden{
  display: none;
}
